@model Web_VANDAOPC.Models.Product
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<h5 class="text-danger">Chi Tiết Sản Phẩm: @Model.Name</h5>
<div class="container-fluid mt-3">
    <div class="mb-3" style="max-width: auto;">
        <div class="row g-0">
            <div class="col-md-4 mb-3">
                <img src="~/Images/@Model.Img" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card-body">
                    <h1 class="card-title mb-3">@Model.Name</h1>
                    <h3 class="card-text text-danger mb-3">@string.Format(info, "{0:C0}", Model.Price)</h3>
                    <h4 class="card-text mb-2">Thông Số Kỹ Thuật:</h4>
                    <h5 class="card-text mb-3">@Model.Details</h5>
                    <h5 class="card-text mb-3">Thương Hiệu: @Model.Brand</h5>
                    <h5 class="card-text mb-3">Danh Mục: @Model.Category.Name</h5>
                    <h5 class="card-text mb-3">Tình Trạng: @Model.Status</h5>
                    <h4 class="card-text mb-2">Mô Tả:</h4>
                    <h5 class="card-text mb-3">@Model.Description</h5>

                    <div class="text-center">
                        <a href="#" class="btn btn-lg btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Mua Ngay</a>
                        <a href="\Cart\Add\@Model.Id" class="btn btn-lg btn-outline-success px-5 mx-3">
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="text-danger">Sản phẩm tạm thời hết hàng!</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

